<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171747250732-ds3b0njjqcsl3qqn7qtrvvptfata62pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171747250732-ds3b0njjqcsl3qqn7qtrvvptfata62pi</string>
	<key>API_KEY</key>
	<string>AIzaSyAKnPR4GnXIK0Sk6txh5-lZV-niy9hpTcc</string>
	<key>GCM_SENDER_ID</key>
	<string>171747250732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoptronics</string>
	<key>PROJECT_ID</key>
	<string>shoptronics-fb0e6</string>
	<key>STORAGE_BUCKET</key>
	<string>shoptronics-fb0e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171747250732:ios:1299def0260843bb</string>
	<key>DATABASE_URL</key>
	<string>https://shoptronics-fb0e6.firebaseio.com</string>
</dict>
</plist>